<link rel="stylesheet" href="styles/companyPageStyle.css" media="screen" title="no title" charset="utf-8">

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h4>{{msg}}: Company</h4>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 column4">
            <form id="inventoryForm">
                <div class="form-group">
                    <label for="toyCategory">Toy Category</label>
                    <select class="form-control" id="toyCategory">
                        <option value="" selected="selected">select a value</option>
                        {{#each dbCategory}}
                        <option value={{id}}>
                            {{categoryName}}
                        </option>
                        {{/each}}
                    </select>
                    <p>* if its a new category,
                        <button type="button" id="categoryCreate" class="btn btn-secondary btn-sm btn-block">
                            create category!
                        </button>
                    </p>
                </div>
                <div class="form-group">
                    <label for="toyManufacturer">Manufacturer</label>
                    <select class="form-control" id="toyManufacturer">
                        <option value="" selected="selected">select a value</option>
                        {{#each dbManufacturer}}
                        <option value={{id}}>
                            {{manufacturerName}}
                        </option>
                        {{/each}}
                    </select>
                    <p>* if its a new manufacturer,
                        <button type="button" id="manufacturerCreate" class="btn btn-secondary btn-sm btn-block">
                            create manufacturer!
                        </button>
                    </p>
                </div>
                <div class="form-group">
                    <label for="name">Toy Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="description">Toy Description</label>
                    <textarea class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Toy Price</label>
                    <input type="text" class="form-control" id="price" placeholder="price">
                </div>
                <div class="form-group">
                    <label for="quantity">Toy Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="quantity">
                </div>
                <div class="form-group">
                    <label for="imageURL">Toy Image</label>
                    <input type="text" class="form-control" id="imageURL" placeholder="imageURL">
                </div>
                <div class="form-group">
                    <label for="rating">Toy Ratings</label>
                    <select class="form-control" id="rating">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">For Children Older than</label>
                    <select multiple class="form-control" id="age">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1 year</option>
                        <option value="2">2 year</option>
                        <option value="3">3 year</option>
                        <option value="4">4 year</option>
                        <option value="5">5 year</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Q1">Reckless Level</label>
                    <select class="form-control validate" id="Q1">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Q2">Annoying Level</label>
                    <select class="form-control validate" id="Q2">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Q3">Strategic Level</label>
                    <select class="form-control validate" id="Q3">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Q4">Dexterous Level</label>
                    <select class="form-control validate" id="Q4">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Q5">Antisocial Level</label>
                    <select class="form-control validate" id="Q5">
                        <option value="" selected="selected">select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button type="submit" id="addInv" class="btn btn-secondary btn-lg btn-block submit">Add to Inventory</button>
            </form>
            <br>
        </div>
        {{!-- <div class="row-2"></div> --}}
        <div class="col-8">
            <div class="text-center table"><h2>Inventory Table</h2>
                <table>
                    <tr>
                        <th>Item ID</th>
                        <th>Toy</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                    </tr>
                    {{!-- {{reverse dbToy}} --}}
                    {{#each dbToy}}
                    <tr>
                        <td>{{id}}</td>
                        <td>
                            <a href="/toy/{{id}}">
                                <img src={{image}} alt="toy" style="width:100px">
                                {{toyName}}
                            </a>
                        </td>
                        <td>{{price}}</td>
                        <td>{{unitStock}}</td>
                    </tr>
                    {{/each}}
                    {{!-- {{reverse}} --}}
                </table>
            </div>

            <div class="text-center table"><h2>Order History Table</h2>
                <table>
                    <tr>
                        <th>Order ID</th>
                        <th>Toy</th>
                        <th>Price</th>
                        <th>Purchase Quantity</th>
                        <th>Sales Total</th>
                        <th>Sales Date</th>
                    </tr>
                    {{!-- {{reverse dbOrder}} --}}
                    {{#each dbOrder}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{ToyName}}</td>
                        <td>{{price}}</td>
                        <td>{{ToyQuantity}}</td>
                        <td>{{totalCost}}</td>
                        <td>{{createdAt}}</td>
                    </tr>
                    {{/each}}
                    {{!-- {{reverse}} --}}

                </table>
            </div>
        </div>

        <a href="/">← Back To Home</a>
    </div>

    <!-- THE MODAL -->

    <div id="myModal" class="modal">

        <!-- MODAL CONTENT -->
        <div class="modal-content text-center">
            <span class="close">&times;</span>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="author-container">
                            <h1>Categories</h1>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="form-row">
                                        <form id="author-form">
                                            <td colspan="4">
                                                <input placeholder="Enter a category name" id="cate-name" type="text" />
                                            </td>
                                            <td><button type="submit" id="catButton" class="btn btn-danger">Create
                                                    Category</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

    <!-- THE MODAL2 -->

    <div id="myModal2" class="modal">

        <!-- MODAL2 CONTENT -->
        <div class="modal-content text-center">
            <span class="close">&times;</span>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="author-container">
                            <h1>Manufacturer</h1>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="form-row">
                                        <form id="author-form">
                                            <td colspan="4">
                                                <input placeholder="Enter a manufacturer name" id="manu-name" type="text" />
                                            </td>
                                            <td><button type="submit" id="manButton" class="btn btn-danger">Create
                                                    Manufacturer</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal2">Close</button>
            </div>
        </div>

    </div>

</div>

<script src="js/company.js" type="text/javascript"></script>