<link rel="stylesheet" href="styles/companyPageStyle.css" media="screen" title="no title" charset="utf-8">

<div class="container">
    <h2>{{msg}}: Employee</h2>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="exampleFormControlInput1">Toy Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Toy Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput3">Toy Price</label>
                <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput4">Toy Quantity</label>
                <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput5">Toy Image</label>
                <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect6">Toy Ratings</label>
                <select class="form-control" id="exampleFormControlSelect6">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect7">For Children Older than</label>
                <select multiple class="form-control" id="exampleFormControlSelect7">
                    <option>1 year</option>
                    <option>2 year</option>
                    <option>3 year</option>
                    <option>4 year</option>
                    <option>5 year</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect8">Q1 Score</label>
                <select class="form-control" id="exampleFormControlSelect8">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect9">Q2 Score</label>
                <select class="form-control" id="exampleFormControlSelect9">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect10">Q3 Score</label>
                <select class="form-control" id="exampleFormControlSelect10">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect11">Q4 Score</label>
                <select class="form-control" id="exampleFormControlSelect11">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect12">Q5 Score</label>
                <select class="form-control" id="exampleFormControlSelect12">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect13">Toy Category</label>
                <select class="form-control" id="exampleFormControlSelect13">
                    {{#each dbCategory}}
                    <option>
                        {{categoryName}}
                    </option>
                    {{/each}}
                </select>
                <p>* if its a new category,
                    <button type="button" id="categoryCreate" class="btn btn-secondary btn-sm btn-block">
                        create category!
                    </button>
                </p>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect14">Manufacturer</label>
                <select class="form-control" id="exampleFormControlSelect14">
                    {{#each dbManufacturer}}
                    <option>
                        {{manufacturerName}}
                    </option>
                    {{/each}}
                </select>
                <p>* if its a new manufacturer,
                    <button type="button" id="manufacturerCreate" class="btn btn-secondary btn-sm btn-block">
                        create manufacturer!
                    </button>
                </p>
            </div>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Add to Inventory</button>
            <br>
        </div>
        <div class="row-2"></div>
        <div class="col-8">Inventory Table
            <table>
                <tr>
                    <th>Item ID</th>
                    <th>Toy</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                </tr>
                {{#each dbToy}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <a href="#">
                            <img src={{image}} alt="toy" style="width:100px">
                        </a>
                        {{toyName}}
                    </td>
                    <td>{{price}}</td>
                    <td>{{unitStock}}</td>
                </tr>
                {{/each}}
            </table>

        </div>

        <a href="/">← Back To Home</a>
    </div>

    <!-- THE MODAL -->

    <div id="myModal" class="modal">

        <!-- MODAL CONTENT -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="author-container">
                            <h1>Categories</h1>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="form-row">
                                        <form id="author-form">
                                            <td colspan="4">
                                                <input placeholder="Enter a name" id="author-name" type="text" />
                                            </td>
                                            <td><button type="submit" class="btn btn-danger">Create Category</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

    <!-- THE MODAL2 -->

    <div id="myModal2" class="modal">

        <!-- MODAL2 CONTENT -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="author-container">
                            <h1>Manufacturer</h1>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="form-row">
                                        <form id="author-form">
                                            <td colspan="4">
                                                <input placeholder="Enter a name" id="author-name" type="text" />
                                            </td>
                                            <td><button type="submit" class="btn btn-danger">Create Manufacturer</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal2">Close</button>
            </div>
        </div>

    </div>


</div>