<link rel="stylesheet" href="styles/toyPageStyle.css" media="screen" title="no title" charset="utf-8">

<h1>{{msg}} : Product Page</h1>
<h2>{{dbToy.toyName}}</h2>

<div class="container">
    <div class="row seven-cols">
        <div class="col-lg-1">Toy ID
            <hr>
            <div>
                <h2 id="toyID">{{dbToy.id}}</h2>
            </div>
        </div>
        <div class="col-lg-1">PRICE
            <hr>
            <div>
                <h2>${{dbToy.price}}</h2>
            </div>
        </div>
        <div class="col-lg-1">AGE REQ
            <hr>
            <div>
                <h2>{{dbToy.ageAbove}} years+ </h2>
            </div>
        </div>
        <div class="col-lg-1">QUANTITY
            <hr>
            <div id="stockQuant">
                <h2>{{dbToy.unitStock}}</h2>
            </div>
        </div>
        <div class="col-lg-1">RATING
            <hr>
            <div>
                <h2>{{dbToy.rating}} stars</h2>
            </div>
        </div>
        <div id="image-col" class="col-lg-5">IMAGE
            <hr>
            <img src={{dbToy.image}} alt="toy" style="width:60%;">
        </div>
        <div id="description-col" class="col-lg-11">DESCRIPTION
            <hr>
            <div>
                <p>{{dbToy.toyDescription}}</p>
            </div>
        </div>
        <div>
            <input type="text" id="toyQuant" class="m-5" placeholder="How many to add">
            <button type="button" id="quantBtn" class="btn btn-secondary center m-5">Add Quantity</button>
        </div>
    </div>
    <a href="/">← Back To Home</a>

</div>

<script src="js/toy.js" type="text/javascript"></script>